body {font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 140px;
 }
 calculator{
    display:inline-block ;
    padding: 20px;
    border: 1px solid;
    border-radius:10px ;
    background-color: rgb(231, 227, 227);

}
    Display {
        width: 200px ;
        height: 30px;
        margin-bottom:10px ;
        text-align: right;
        font-size: 18;
        padding: 5px;
        border: 1px solid;
        border-radius: 5px;
    }
buttons {
    display:grid;
    grid-template-columns: repeat(4,50px);
    gap: 20px;
}

button{
    width:50px ;
    height: 50px;
    font-size: 16px ;
    color:pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(20, 33, 151);
    color: wheat;
}
button :hover{
    background-color: brown;
}
calculate{
    width: 50px ;
    height: 50px;
    font-size: 16px;
    cursor: pointer ;
    border: none;
    border-radius:5px ;
    background-color: rgb(255, 255, 255);
    color: rgb(0,0,0,);
}
